.contact-card-container {
	display: grid;
	grid-template-columns: 1fr 5fr auto;
	margin: 15px 0;
	gap: 10px;
	font-size: 70%;
	font-weight: 600;
	border-radius: var(--default-round);
	background-color: var(--primary-color);
	transition: 0.2s;
	padding: 10px;
}

.contact-card-container:hover {
	background-color: var(--highlight);
}

.contact-card-credentials {
	display: flex;
	gap: 10px;
	align-items: center;
}

.contact-card-displayname {
}

.contact-card-username {
	opacity: 0.5;
}

.contact-card-image {
	border-radius: var(--default-round);
	background-color: var(--input-color);

	min-width: 90px;
	min-height: 90px;
	aspect-ratio: 1;
	overflow: hidden;
	display: flex;
}

.contact-card-meta-container {
	display: flex;
	flex-direction: column;
	gap: 7px;
	overflow: hidden;
}

.contact-card-meta {
	font-size: 80%;
	font-weight: 400;
}
