.contact-card-container {
  display: grid;
  grid-template-columns: 1fr 5fr auto;
  margin: 15px 0;
  gap: 10px;
  font-size: 70%;
  font-weight: 600;
}

.contact-card-credentials {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-card-displayname {
}

.contact-card-username {
  opacity: 0.5;
}

.contact-card-image {
  border-radius: var(--default-round);
  background-color: var(--input-color);

  min-width: 80px;
  min-height: 80px;
  object-fit: contain;
}

.contact-card-meta-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: hidden;
}

.contact-card-meta {
  font-size: 80%;
  font-weight: 400;
}
