.encryption-container {
	margin: 10px auto;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.fingerprint {
    display: flex;
	white-space: nowrap;
	padding: 15px;
	aspect-ratio: 1;
    font-size: 70%;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;

	border-radius: 10px;
	background-color: var(--input-color);
}

.fingerprint > div {
	height: fit-content;
	display: flex;
	align-self: center;
	justify-self: center;
}

.encryption-description {
	width: 65%;
    font-size: 80%;
}
