.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}

.input-container-input {
  color: var(--primary-font);
  border-radius: var(--default-round);
  background-color: var(--secondary-color);

  font-size: 12px;
  font-weight: 500;
  padding: 15px;
  transition: 0.2s;
  letter-spacing: 0.3px;
  height: 25px;
}

.input-container-input::placeholder {
  opacity: 0.7;
  color: inherit;
}

.input-container-input,
.input-container-input:focus {
  outline: none;
  border: none;
  font-family: inherit;
}
