.notification-wrapper {
  position: fixed;
  height: fit-content;
  width: fit-content;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 90%;
  background-color: #222222;
  z-index: 9999;
}

.notification-animation {
  animation: notification 3s ease-in-out forwards;
}

.type-info {
  background-color: #064490;
}

.type-success {
  background-color: #0c7608;
}

.type-warning {
  background-color: #c2a70e;
}

.type-error {
  background-color: #ab1a1a;
}

@keyframes notification {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-20px);
  }
  20% {
    display: block;
    opacity: 1;
    transform: unset;
  }
  90% {
    display: block;
    opacity: 1;
    transform: unset;
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-20px);
  }
}
