.settings-container {
	width: 50%;
}

@media screen and (max-width: 600px) {
	.settings-container {
		width: 90%;
	}
}

.image-upload-container {
	display: flex;
	gap: 19px;
	align-items: end;
}

.image-display {
	border-radius: var(--default-round);
	background-color: var(--input-color);

	width: 150px;
	height: 150px;
	object-fit: contain;
}
